* {
    margin: 0;
    font-family: 'Work Sans';
}

/* header styles  */

.header {
    background-image: url('/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header-title {
    padding-top: 220px;
    margin-left: 1070px;
    text-align: right;
    width: 525px;
    height: 228px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.header-description {
    text-align: right;
    padding-top: 24px;
    margin-left: 1100px;
    width: 494px;
    height: 78px;
    width: 494px;
    height: 78px;
    color: #FFFFFF;
}

.contact-btn {
    margin-top: 32px;
    margin-left: 1432px;
    width: 160px;
    height: 64px;
    font-size: 20px;
    line-height: 23px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    color: #005FAC;
}

.contact-btn:hover {
    color: #FFFFFF;
    background-color: lightgray;
}

/* failure section styles */

.failures-year {
    display: flex;
    align-items: center;
    width: 1072px;
    height: 723.3px;
    margin: 135px 322px 0 206px;
}

.person-img {
    width: 569px;
    height: 723.3px;
    margin: 135px 0 87px 206px;
}

.failure-title {
    margin: 334px 450px 0 87px;
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failure-description {
    width: 288px;
    height: 94px;
    margin: 24px 0 0 87px;
    width: 349px;
    color: #444343;
}

.failure-list {
    width: 349px;
    height: 162px;
    margin: 16px 0 0 87px;
}

/* section container style */

.cointainer-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 130px;
}

.container-icon {
    display: flex;
    justify-content: center;
    width: 1141px;
    height: 202.96px;
    margin-top: 50px;
    margin-left: 350px;
    gap: 120px;
}

.call-btn-title {
    width: 1040px;
    height: 300px;
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    margin-left: 450px;
    margin-bottom: 260px;
    border-radius: 8px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);

}

.call-title {
    padding-top: 59px;
    margin-left: 64px;
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.call-btn {
    width: 160px;
    height: 64px;
    margin: 20px 0 59px 64px;
    border: 0;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}

.call-btn:hover {
    color: #005FAC;
    background-color: lightgrey;
}

/* footer styles */
footer {
    display: flex;
    text-align: center;
    width: 2000px;
    height: 577px;
    background: #151414;
}

.contact-info {
    color: #F8F8F8;

}

.contact-info h2 {
    margin-top: 121px;
    margin-left: 450px;
    ;
    width: 148px;
    height: 51.84px;
    font-weight: 700;
    font-size: 45px;
}

.contact-info .info-description {
    text-align: left;
    width: 485px;
    height: 76.29px;
    font-weight: 400;
    font-size: 16px;
    margin: 16px 0 24px 453px
}

.info {
    color: #F8F8F8;
}

.social-img {
    text-align: left;
    width: 186px;
    height: 142.8px;
    margin-top: 24px;
    margin-left: 452px;
}

.sub-text {
    width: 123px;
    height: 29px;
    margin-top: 125px;
    margin-left: 455px;
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.email {
    margin-top: 30px;
    margin-left: 455px;
    color: #FFFFFF;
    background-color: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 325px;
    height: 64px;
}

.subscribe-btn {
    width: 170.11px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #005FAC;
    border-radius: 8px;
}

.subscribe-btn:hover {
    color: #005FAC;
    background-color: lightgrey;
}